@media screen and (min-width: 200px) {
  .backgroundColor {
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.formHeight {
  height: 100vh;
}
