.formBackground {
  background-color: #afafaf;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 9px;
  padding: 12px;
}

@media screen and (min-width: 200px) {
  .backgroundColor {
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
  }
}
